<!DOCTYPE html>
<html>
<head>
	<title>Load Ringkasan Materi</title>
</head>
<body>
	<img src="{{ url }}" style="width:100% "  onerror="this.onerror=null; this.src='https://cdn.dribbble.com/users/876908/screenshots/7034541/media/a5dbf47103f35a82f8f0501ea78f25e7.png'">
</body>

<style type="text/css">
* {
  margin: 0;
  padding: 0;
}	
</style>
</html>